<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:{{clr}};
        }
    </style>

</head>
<body>
    <!--{% if a =='praveen' %}
    <h1>hello {{a}} welcome</h1>
    {% elif a == 'karthi' %}
    <h1>hello {{a}} welcome</h1>
    {% else %}
    <h1>input not valid</h1>
    {% endif %}


    {% for i in m %}
    <h6>Your Mark is {{i}}</h6>
    {% endfor %} -->
    <h1>This is Index page</h1>
    <h1>{{ALLdata}}</h1>
</body>
</html>